header {
  position: relative;
  z-index: 2;
  @include flex-centered();
  justify-content: space-between;
  padding: 0 70px;
  width: 100%;
  height: 70px;
  background-color: var(--active-elm);
  color: var(--active-text);
  box-shadow: $shadow;
  transition: all 200ms linear;
  span {
    font-weight: 800;
    font-size: 24px;
  }
  .btn {
    all: unset;
    cursor: pointer;
    @include flex-centered();
    width: 150px;
    height: 40px;
    border-radius: 60px;
    background-color: var(--active-elm);
    color: var(--active-text);
    font-weight: 600;
    transition: background-color 200ms linear;
    &:hover {
      background-color: $hover-gray;
    }
    ion-icon {
      padding: 0 10px;
    }
  }
}
